.cookie-consent {
    position: fixed;
    width: 260px;
    padding-top: 7px;
    height: 110px;
    color: #fff;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    background: #292929;
    z-index: 120;
    cursor: pointer;
    border-radius: 3px
}

.dropdown {
    height: 140px;
    background: #2e0606;
}

.allow-button-dropdown {
    height: 20px;
    width: 104px;
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    border-radius: 3px;
    border: 1px solid grey;
    background-color: grey
}

.allow-button {
    height: 20px;
    width: 104px;
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    border-radius: 3px;
    border: 1px solid green;
    background-color: green
}

/*simple3 og simple4*/
.allow-button.red {
    border: 1px solid red;
    background-color: red;
}


/*Bruges til simple_diff1 og simple_diff2 */
.simple_diff1::before,
.simple_diff2::before {
    content: "";
    background: url("../images/8.png") 50% 0 no-repeat fixed;
    background-color: #cccccc;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.simple_diff1 .allow-button,
.simple_diff2 .allow-button {
    width: 220px;
}

.simple_diff1 .reject-button,
.simple_diff2 .reject-button {
    width: 32px;
    color: #fff;
    border: 1px solid #292929;
    background-color: #292929;
}


/*Bruges til trick3*/
.trick3::before {
    content: "";
    background: url("../images/9.png") 50% 0 no-repeat fixed;
    background-color: #cccccc;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.link-button {
    background: none;
    border: none;
    color: #1a0dab;
    text-decoration: underline;
    cursor: pointer;
}

.no-text {
    background: none;
    border: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hidden-form-link {
    display: inline-block;
}




/*
POSITIONING OF COOKIES IN THE CLASS SIMPLE:
TL TM TR 
ML MM MR 
BL BM BR 
*/

.cookie-consent.TL {
    top: 8px;
    left: 20px;
}

.cookie-consent.TM {
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0);
}

.cookie-consent.TR {
    top: 8px;
    right: 20px;
}

.cookie-consent.ML {
    top: 45vh;
    left: 20px;
}

.cookie-consent.MM {
    top: 45vh;
    left: 50%;
    transform: translate(-50%, 0);
}

.cookie-consent.MR {
    top: 45vh;
    right: 20px;
}

.cookie-consent.BL {
    bottom: 8px;
    left: 20px;
}

.cookie-consent.BM {
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, 0);
}

.cookie-consent.BR {
    bottom: 8px;
    right: 20px;
}