.cookieTester::before {
    content: "";
    background: url("../images/0.png") 50% 0 no-repeat fixed;
    background-color: #cccccc;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.cookieTester .cookie-consent {
    position: fixed;
    bottom: 8px;
    left: 20px;
    width: 260px;
    padding-top: 7px;
    height: 110px;
    color: #fff;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    background: #292929;
    z-index: 120;
    cursor: pointer;
    border-radius: 3px
}

.cookieTester .allow-button {
    height: 20px;
    width: 104px;
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    border-radius: 3px;
    border: 1px solid green;
    background-color: green
}

.cookie-box0 {
    margin-top: 100px;
    border: 2px black solid;
    padding: 10px;
    background-color: rgb(239, 239, 231);
    box-shadow: 8px 4px 4px black;
}


.cookie0::before {
    content: "";
    background: url("../images/0.png") 50% 0 no-repeat fixed;
    background-color: #cccccc;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}


.cookie-box1 {
    margin-top: 200px;
    border: 4px rgb(123, 106, 106) solid;
    padding: 10px;
    background-color: rgb(152, 154, 221);
    box-shadow: 8px 4px 4px black;
}

.cookie1::before {
    content: "";
    background: url("../images/1.png") 50% 0 no-repeat fixed;
    background-color: #cccccc;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.cookie-box2 {
    margin-top: 400px;
    background-color: rgb(138, 138, 138);
}


.cookie2::before {
    content: "";
    background: url("../images/2.png") 50% 0 no-repeat fixed;
    background-color: #cccccc;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}


.cookie-box3 {
    margin-top: 0px;
    border: 20px black solid;
    padding: 15px;
    background-color: rgb(229, 229, 192);
}


.cookie3::before {
    content: "";
    background: url("../images/3.png") 50% 0 no-repeat fixed;
    background-color: #cccccc;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.cookie4::before {
    content: "";
    background: url("../images/4.png") 50% 0 no-repeat fixed;
    background-color: #cccccc;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.cookie5::before {
    content: "";
    background: url("../images/5.png") 50% 0 no-repeat fixed;
    background-color: #cccccc;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}


/*Bruges til #6*/
.cookie6::before {
    content: "";
    background: url("../images/6.png") 50% 0 no-repeat fixed;
    background-color: #cccccc;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.cookie6 .cookie-consent {
    position: fixed;
    bottom: 8px;
    right: 20px;
    width: 260px;
    padding-top: 7px;
    height: 110px;
    color: #fff;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    background: #292929;
    z-index: 120;
    cursor: pointer;
    border-radius: 3px
}

.cookie6 .allow-button {
    height: 20px;
    width: 104px;
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    border-radius: 3px;
    border: 1px solid green;
    background-color: green
}



/*Bruges til #9*/
.cookie9::before {
    content: "";
    background: url("../images/7.png") 50% 0 no-repeat fixed;
    background-color: #cccccc;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.cookie9 .cookie-consent {
    position: fixed;
    bottom: 8px;
    left: 20px;
    width: 260px;
    padding-top: 7px;
    height: 110px;
    color: #fff;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    background: #292929;
    z-index: 120;
    cursor: pointer;
    border-radius: 3px
}

.cookie9 .allow-button {
    height: 20px;
    width: 104px;
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    border-radius: 3px;
    border: 1px solid green;
    background-color: green
}


/*Bruges til #10 og #11*/
.cookie10::before {
    content: "";
    background: url("../images/8.png") 50% 0 no-repeat fixed;
    background-color: #cccccc;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.cookie10 .cookie-consent {
    position: fixed;
    bottom: 8px;
    left: 20px;
    width: 260px;
    padding-top: 7px;
    height: 110px;
    color: #fff;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    background: #292929;
    z-index: 120;
    cursor: pointer;
    border-radius: 3px
}

.cookie10 .allow-button {
    height: 20px;
    width: 220px;
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    border-radius: 1px;
    border: 1px solid green;
    background-color: green;
}

.cookie10 .reject-button {
    height: 20px;
    width: 32px;
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    border-radius: 1px;
    border: 1px solid #292929;
    background-color: #292929;
}