{% extends "_base.html" %}

{% block title %}Oversigt{% endblock %}


{% block content %}

<!-- Page heading-->
<h2 class="mb-3 mt-lg-5">Spil-ID: <span class="text-black-50">[{{ game.game_id }}]</span></h2>

<!-- Buttons -->
<div class="mb-3">
    {% if not game.game_over %}
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseJoin" role="button" aria-expanded="false" aria-controls="collapseJoin">
        Inviter spillere
    </a>
    {% endif %}
</div>

<!-- Join Link Collapse Content-->
<div class="collapse my-1" id="collapseJoin" >
    <div class="card card-body">
        <p class="mb-1">Spillere kan tilslutte sig spillet på denne adresse: </p>
        <div class="d-flex">
            <input class="form-control" type="text" 
                value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}{% url 'home' %}?game_id={{ game.game_id }}" id="join_link" style="width:350px">
            <button class="btn btn-primary btn-sm" onclick="copy_join_link()">Kopier</button>
        </div>
    </div>
</div>


<!-- Student Status -->
<h4 class="mt-5">
    {% if game.game_over %}
    Scoreboard
    {% else %}
    Tilsluttede spillere:
    {% endif %}
    <span class="text-black-50">
        {% if game.game_over %}
            [Game is over]
        {% endif %}
    </span>
</h4> 

<div id="trader_table" class="mb-3">
    {% include 'student_table.html' %}
</div>


<!-- Update trader status table every x seconds. Will only trigger next round when given criteria are met -->
  
<div 
hx-get="{% url 'student_table' game.game_id %}"
hx-trigger="every 1s"
hx-target="#student_table">
</div>

{% endblock content %}


{% block javascript %}

<script>
    function copy_join_link() {
        // From w3schools
        var link_text = document.getElementById("join_link");
        link_text.select();
        link_text.setSelectionRange(0, link_text.value.length);
        document.execCommand("copy")
    }
</script>

{% endblock javascript %}