{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Start{% endblock %}


{% block content %}
<h4 class="mb-4">Hej <i>{{ student_name }}</i>!</h5>
<h4 class="mb-4">Klar til at spille Cookie-Spillet (Spil-ID: {{ game_id }})</h5>
<h6>Regler:</h6>
    <p>
        Cookie-Spillet er et mini-game omkring de pop-up dialogbokse som man hele tiden skal tage stilling til når man navigerer på internettet. <br/> I dette spil skal du forhindre hjemmesider med skjulte dagsordener i at sælge eller udnytte dine data. <br/>Din mission er altså at undgå at give tilladelser, på tid! <br/> Denne hjemmeside indsamler selvfølgelig ingen personlige data fra dig.
    </p>   
    <p>
        Når din lærer trykker "Start spil!" starter spillet automatisk!
    </p>


<script>
    window.setInterval('refresh()', 1000); 	
    // Call a function every 10000 milliseconds 
    // (OR 10 seconds).

    // Refresh or reload page.
    function refresh() {
        window .location.reload();
    }
</script>

{% endblock content %}

