<p>Alle spillere, ordnet efter deres score.</p>
    <div class="table-responsive">
        <table class="table table-striped mb-5" id="trader_status_table"> 

            <thead id="student_status_thead">
                <!-- Since allow students to visit the monitor page when game is over & since we assume they use small screen devices
                    we have to make the table reponsive in different ways
                -->
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Navn</th>
                    <th scope="col">Score</th>
                    <th scope="col">Cookies :'(</th>
                    <th scope="col">Tid (s)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for student in game.active_students %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ student.name }}</td>
                        <td>{{ student.score }}</td>
                        <td>{{ student.wrong_cookies }}</td>
                        <td>{{ student.time_spent }}</td>
                        {% if not game.game_started %}
                            <td>        
                                <form action="{% url 'delete_view' pk=student.pk %}" method="POST">
                                    {% csrf_token %}
                                    <input class="btn btn-default btn-danger" type="submit" value="Fjern"/>
                                  </form>
                            <td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <script>
            $('#trader_status_table').DataTable();
        </script>
    </div>