{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'css/cookiebox.css' %}" rel="stylesheet" />



  <title>Cookiespillet!</title>
</head>



<body class="cookie3">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
      </div>
      <div class="col-md-auto">
        <div class="cookie-box3">
          <h1>Vi respekterer beskyttelse af personoplysninger</h1>
          <p>Med din tilladelse kan vi og vores partnere bruge præcise geoplaceringsoplysninger og identifikation gennem
            enhedsscanning. Du kan klikke her for at acceptere vores og vores partneres behandling, som beskrevet
            ovenfor. Alternativt kan du få adgang til mere detaljerede oplysninger og ændre dine præferencer, før du
            samtykker eller nægter samtykke. Bemærk, at nogle former for behandling af dine personoplysninger muligvis
            ikke kræver dit samtykke, men du har ret til at gøre indsigelse mod sådan behandling. Dine præferencer
            gælder for en gruppe websteder. Du kan til enhver tid ændre dine præferencer ved at vende tilbage til dette
            websted eller ved at besøge vores politik for beskyttelse af personoplysninger.</p>
          <form action="{% url 'cookieX' %}" method="post">{% csrf_token %}
            {{ form|crispy }}
            <input type="hidden" name="flag" value="0" />
            <div class="d-flex justify-content-center">
              <input type="submit" value="Acceptér" class="btn btn-light my-2">
            </div>
          </form>
          <form action="{% url 'cookieX' %}" method="post">{% csrf_token %}
            {{ form|crispy }}
            <input type="hidden" name="flag" value="1" />
            <div class="d-flex justify-content-center">
              <input type="submit" value="Frabed" class="btn btn-light my-2">
            </div>
          </form>
        </div>
      </div>
      <div class="col col-lg-2">
      </div>
    </div>
  </div>
  </div>


  <!-- Bootstrap Bundle with Popper 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
-->


</body>

</html>