{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'css/cookies_simple.css' %}" rel="stylesheet" />
  <link href="{% static 'css/img.css' %}" rel="stylesheet" />

  <title>Cookie-Spillet!</title>
</head>
<body id="image" class="trick_spam">
  <div id="position" class="cookie-consent trick_spam MM"> <span>Tryk "OK" for at undgå brugen af cookies.</span>
        <div class="mt-2 d-flex align-items-center justify-content-center g-2">
          <form action="{% url 'cookieX' game_id %}" id="redirect" method="post">{% csrf_token %}
            <input type="hidden" name="flag" value="1" />
            <input type="hidden" name="template" value="12" />
            <input type="submit" value="OK" class="allow-button grey mr-1">
          </form>
        </div>
      </div>
      
      
  <script src="/static/js/random.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/static/js/trick_spam.js"></script>

</body>
</html>